/* ===================== Carrito ===================== */
.cart-icon {
    position: relative;
    text-decoration: none !important;
}
.cart-count {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: var(--amarillo-mostaza);
    color: var(--gris-oscuro);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
    font-weight: bold;
}